body {
  font-family: sans-serif;
  margin: 0;
  background: #f5f5f5;
}

#total {
  background: black;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.price-btn {
  font-size: 24px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  border: none;
}

.bottom {
  display: flex;
}

.bottom button {
  flex: 1;
  font-size: 20px;
  padding: 20px;
  border: none;
}
#brand{
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: #777;
}